/*Contacto-Mixin*/
.whatsapp {
  background-color: #239923;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  color: white; }

.instagram {
  background-color: #eb6cba;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  color: white; }

.facebook {
  background-color: #4b69f1;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  color: white; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Cinzel', serif;
  color: black;
  background-color: white; }

header {
  text-align: center;
  background-repeat: no-repeat; }
  header .navbar {
    margin: 10px;
    letter-spacing: 1px; }
  header .text-center {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header .carousel-item {
    width: 100%;
    height: 500px; }

.bienvenida {
  text-align: center;
  background-color: #252424;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  letter-spacing: 1px;
  line-height: 30px; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.platos, .platos .resenas {
  text-align: center;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0.5rem;
  padding: 0.5rem; }

.resenas {
  grid-column-start: 2;
  grid-row-end: -1;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 5rem; }

.imgCentral {
  width: 100%;
  height: 500px;
  border-radius: 5px; }

.contenedor1 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: center;
  font-size: 25px; }
  .contenedor1 h1 {
    margin-top: 2rem;
    margin-bottom: 2rem; }

.fondoTitulo {
  background-color: #252424;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  letter-spacing: 1px; }

.historia {
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 1rem;
  line-height: 35px; }
  .historia h2 {
    text-align: left;
    margin: 1rem; }
  .historia img {
    width: 500px;
    float: left;
    border-radius: 5px; }

.historia2 {
  font-size: 20px;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  line-height: 35px; }
  .historia2 h2 {
    text-align: right;
    margin: 1rem; }
  .historia2 img {
    width: 500px;
    float: right;
    border-radius: 5px; }

.reservaTitulo {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 23px; }

.contenedor3 {
  margin-left: 8rem;
  margin-right: 8rem; }

.reserva {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  border-style: solid; }
  .reserva h2 {
    margin-top: 2rem;
    margin-left: 10rem; }
  .reserva legend {
    margin-left: 10rem; }

.linea {
  border-top: 4px solid black;
  margin-bottom: 2rem; }

.texto2 {
  margin-left: 8rem;
  margin-bottom: 10px;
  letter-spacing: 1px; }

.cuerpo {
  margin: 0.5rem;
  padding: 0.5rem; }

.carta {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 5rem; }

.contenedorCarta {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  text-align: center;
  margin-bottom: 5rem; }

.carta1 {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border: 5px #f0df49;
  border-style: groove;
  letter-spacing: 1px;
  line-height: 25px; }

.carta2 {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  grid-column-start: 2;
  grid-row-end: -2;
  border: 5px #f0df49;
  border-style: groove;
  letter-spacing: 1px;
  line-height: 25px; }

.contacto {
  background-color: #252424;
  border-radius: 5px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 25px; }

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #252424;
  color: white;
  letter-spacing: 1px;
  line-height: 15px; }

.footer-medio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px; }

.footer-img {
  width: 40px;
  height: 40px; }

.footer-detalles {
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  margin: 1rem; }

@media screen and (max-width: 786px) {
  header {
    text-align: center;
    background-repeat: no-repeat; }
    header .navbar {
      margin: 10px;
      letter-spacing: 1px; }
    header .text-center {
      color: white;
      font-family: 'Great Vibes', cursive;
      font-size: 140px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .carousel-item {
      width: 100%;
      height: 500px; }
  /*Cuerpo index principal*/
  .bienvenida {
    text-align: center;
    background-color: #252424;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 30px; }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .platos, .platos .resenas {
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0.5rem;
    padding: 0.5rem; }
  .resenas {
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
    grid-column-start: 2;
    grid-row-end: -1;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 5rem; }
  .imgCentral {
    width: 100%;
    height: 250px;
    border-radius: 5px; }
  /*Sobre nosotros*/
  .contenedor1 {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    font-size: 25px; }
    .contenedor1 h1 {
      margin-top: 2rem;
      margin-bottom: 2rem; }
  .fondoTitulo {
    background-color: #252424;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 1px; }
  .historia {
    font-size: 15px;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 35px; }
    .historia h2 {
      text-align: left;
      margin: 1rem; }
    .historia img {
      width: 270px;
      float: left;
      border-radius: 5px; }
  .historia2 {
    font-size: 15px;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    line-height: 35px; }
    .historia2 h2 {
      text-align: right;
      margin: 1rem; }
    .historia2 img {
      width: 270px;
      float: right;
      border-radius: 5px; }
  /*Rervaciones*/
  .reservaTitulo {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 23px; }
  .contenedor3 {
    margin-left: 2rem;
    margin-right: 2rem; }
  .reserva {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    border-style: solid; }
    .reserva h2 {
      margin-top: 2rem;
      margin-left: 8rem; }
    .reserva legend {
      margin-left: 8rem; }
  .linea {
    border-top: 4px solid black;
    margin-bottom: 2rem; }
  .texto2 {
    margin-left: 6rem;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  /*Carta*/
  .cuerpo {
    margin: 0.5rem;
    padding: 0.5rem; }
  .carta {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 5rem; }
  .contenedorCarta {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: center;
    margin-bottom: 5rem; }
  .carta1 {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border: 5px #f0df49;
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px; }
  .carta2 {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-row-end: -2;
    border: 5px #f0df49;
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px; }
  /*Contacto*/
  .whatsapp {
    background-color: #239923;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }
  .instagram {
    background-color: #eb6cba;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }
  .facebook {
    background-color: #4b69f1;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: white; }
  .contacto {
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px; }
  /*Footer General*/
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #252424;
    color: white;
    letter-spacing: 1px;
    line-height: 15px; }
  .footer-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px; }
  .footer-img {
    width: 40px;
    height: 40px; }
  .footer-detalles {
    text-align: center;
    letter-spacing: 1px;
    line-height: 15px;
    margin: 1rem; } }
