.cuerpo{
    margin: 0.5rem;
    padding: 0.5rem;
}
.carta{
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 5rem;
}
.contenedorCarta{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    text-align: center;
    margin-bottom: 5rem;
}
.carta1{
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border: 5px rgb(240, 223, 73);
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px;
}
  
.carta2{
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-row-end: -2;
    border: 5px rgb(240, 223, 73);
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px;
}