*{
    margin: 0;
    padding: 0;
}
  
body{
    font-family: 'Cinzel', serif;
    color: black;
    background-color: white;
}
header{
    text-align: center;
    background-repeat: no-repeat;

    .navbar{
        margin: 10px;
        letter-spacing: 1px;
    }

    .text-center{
        color: white;
        font-family: 'Great Vibes', cursive;
        font-size: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-item{
        width: 100%;
        height: 500px;
    }
}