.bienvenida{
    text-align: center;
    background-color: $princial;
    color: $letras;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 30px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);   
}

.platos{
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
    
    .resenas{
        @extend .platos;  
    }
}

.resenas {
    grid-column-start: 2;
    grid-row-end: -1;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 5rem;
}
    
.imgCentral{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}