/*Contacto-Mixin*/
@mixin redes($redes){
    background-color: $redes;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    color: $text;
}

.whatsapp{
    @include redes($redesw)
}
.instagram{
    @include redes($redesi)
}
.facebook{
    @include redes($redesf)
}