.reservaTitulo{
    background-color: #252424;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 23px;
}
.contenedor3{
    margin-left: 8rem;
    margin-right: 8rem;
}
.reserva{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 2rem; 
    margin-right: 2rem;
    margin-bottom: 3rem;
    border-style: solid;

    
    h2{
        margin-top: 2rem;
        margin-left: 10rem;
    }

    legend{
        margin-left: 10rem;
    }
}  
.linea {
    border-top: 4px solid black;
    margin-bottom: 2rem;
}
.texto2{
    margin-left: 8rem;
    margin-bottom: 10px;
    letter-spacing: 1px;

}